<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmack.sermonstream"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <!-- required for streaming of network content -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- required for WiFi Reconnection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true"></uses-feature>

    <application
        android:name=".TheMountApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SermonStream">

        <!-- required for Cast SDK which is within Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Launcher Activity -->
        <activity
            android:name=".browser.SermonBrowserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".mediaPlayer.SermonVideoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/title_activity_video_view"
            android:launchMode="singleTask"
            android:parentActivityName=".browser.SermonBrowserActivity"
            android:theme="@style/Theme.SermonStreamOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- clicks into App via ChromeCast Notification Controller  -->
        <activity
            android:name="com.google.sample.castcompanionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".browser.SermonBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SermonStreamOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tmack.sermonstream.browser.SermonBrowserActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Application Preferences Activity -->
        <activity
            android:name=".settings.CastPreference"
            android:label="@string/action_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Video Intent Receiver -->
        <receiver
            android:name="com.google.sample.castcompanionlibrary.remotecontrol.VideoIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="com.google.sample.castcompanionlibrary.action.toggleplayback" />
                <action android:name="com.google.sample.castcompanionlibrary.action.stop" />
            </intent-filter>
        </receiver>

        <!-- Video Cast Notification Service -->
        <service
            android:name="com.google.sample.castcompanionlibrary.notification.VideoCastNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.sample.castcompanionlibrary.action.toggleplayback" />
                <action android:name="com.google.sample.castcompanionlibrary.action.stop" />
                <action android:name="com.google.sample.castcompanionlibrary.action.notificationvisibility" />
            </intent-filter>
        </service>

        <!-- Reconnection Service -->
        <service android:name="com.google.sample.castcompanionlibrary.cast.reconnection.ReconnectionService" />
    </application>

</manifest>
